* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #fafafa;
}

a {
    text-decoration: none;
    color: #000;
}

.main {

    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
    padding-bottom: 100px;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    margin-top: 100px;
}

.content_box_1 {
    padding-top: 40px;
    padding-left: 30px;
    min-height: 291px;
    min-width: 370px;
}

.content_box_1 p {
    padding-top: 32px;
}

.content_box_2 {
    padding-top: 40px;
    padding-left: 30px;
    min-height: 291px;
    min-width: 370px;
    box-shadow: 30px 30px 30px 30px rgba(189, 189, 189, 0.20);
}

.content_box_2 p {
    padding-top: 32px;
}

.content_box_3 {
    padding-top: 40px;
    padding-left: 30px;
    min-height: 291px;
    min-width: 370px;
}

.content_box_3 p {
    padding-top: 32px;
}

.content p {
    color: #666666;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.50px;
    word-wrap: break-word
}

.content h3 {
    color: black;
    font-size: 24px;
    font-weight: 900;
    word-wrap: break-word
}

.content a {
    color: black;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.50px;
    word-wrap: break-word;
    padding-bottom: 25px;
}

.maincontenttop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.maincontenttop h1{
    padding-top: 32px;
padding-left: 32px;
}
.maincontenttop p{
    display: flex;
    padding-top: 30px;
    padding-left: calc(50% - 390px);
    padding-right: calc(50% - 390px);
}


.content_boxes {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    min-width: 379px;
    min-height: 549px;
}

.maincontent_box1 {
    border-radius: 15px;
    box-shadow: 30px 30px 30px 30px rgba(189, 189, 189, 0.20);
    padding-left: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.learn_buttn {
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 25px;
    padding-left: 46px;
    width: 150px;
    height: 50px;
}

.maincontent_box1 img{
    padding-right: 10px;
}

.maincontent_box2 img {
    padding-right: 10px;
}

.maincontent_box3 img {
    padding-right: 10px;
}

.maincontent_box2 {
    border-radius: 15px;
    padding-left: 30px;
    box-shadow: 30px 30px 30px 30px rgba(189, 189, 189, 0.20);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}

.maincontent_box3 {
    border-radius: 15px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 30px 30px 30px 30px rgba(189, 189, 189, 0.20);
    background-color: #fff;
    padding-bottom: 30px;
}