*{
    padding:0;
    margin:0;
}
.main{
    font-family: 'Raleway', sans-serif;
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
    padding-bottom: 100px;
}

.header{
position: relative;
    padding:40px;
    margin: 0 0 40px 40px;
    display:flex;
    justify-content:space-between;
}

a {
justify-content:space-between;
 text-decoration:none;
    color:black;

}

a.Home{
    color:#f00;
}
.header a .select
{
border:none;
}
select{
border:none;
font-size:14x;
}
 .title
{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Be{
    color: #F25822;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container
{
    display: grid;
    padding-top:100px;
    padding-bottom:70px;
    grid-template-columns: 1fr 1fr;
    gap:32px;
}

.container .title
{
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.description{
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top:17px;
    padding-bottom:17px;

}
.button
{
position: relative;
    padding-bottom:100px;
    display:flex;
    justify-content:flex-start;}
.button .btn
{
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top:15px;
    width: 140px;
    height: 50px;

}
 .button .link{
    position:absolute;
    left:175px;
    top:25px;
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer{
    display: flex;
    justify-content:space-between;
    padding-top:100px;
}